<nav class="nav">
    <h1 class="nav-title">hack-with.me</h1>
    <p class="nav-tagline">code things</p>
    {{!--<a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>--}}
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <ul class="tags">
    {{#get "tags" limit="all"}}
        {{#foreach tags}}
            <li>{{name}}</li>
        {{/foreach}}
    {{/get}}
    </ul>
    {{!--{{#if @labs.subscribers}}
        <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
    {{else}}
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    {{/if}}--}}
</nav>
<span class="nav-cover"></span>
